networks:
  dns:
    ipam:
      config:
        - subnet: 172.55.0.0/24

services:
  blocky:
    image: spx01/blocky:v0.28.2
    container_name: blocky
    restart: always
    hostname: blocky-homeserver
    user: "100:100"
    ports:
      - "853:853/tcp"
      - "443:443/tcp"
    environment:
      - TZ=${TZ} 
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /root/dns/blocky/config.yml:/app/config.yml:ro
      - /root/letsencrypt:/etc/letsencrypt:ro

  lego:
    image: goacme/lego:v4.32.0
    container_name: lego-certbot
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      - CLOUDFLARE_DNS_API_TOKEN=${CF_API_KEY}
    command:
      --accept-tos
      --email ${CF_API_EMAIL} --dns cloudflare 
      --domains dns.${DOMAIN} --path /etc/letsencrypt/ 
      renew
      --days 30
    volumes:
      - /root/letsencrypt:/etc/letsencrypt:rw
