upstreams:
  init:
    strategy: fast
  groups:
    default:
      - 9.9.9.9
      - tcp-tls:dns10.quad9.net:853
      - https://dns10.quad9.net/dns-query
      - tcp-tls:one.one.one.one:853
  strategy: parallel_best
  timeout: 2s

connectIPVersion: dual

blocking:
  denylists:
    ads:
      - https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
      - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
      - http://sysctl.org/cameleon/hosts
      - https://s3.amazonaws.com/lists.disconnect.me/simple_tracking.txt
      - |
        # inline definition with YAML literal block scalar style
        someadsdomain.com
        *.example.com
    special:
      - https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/fakenews/hosts
  blockType: zeroIp
  blockTTL: 1m
  loading:
    refreshPeriod: 24h
    downloads:
      timeout: 60s
      writeTimeout: 60s
      readTimeout: 60s
      readHeaderTimeout: 60s
      attempts: 5
      cooldown: 10s
    concurrency: 16
    strategy: failOnError
    maxErrorsPerSource: 5

caching:
  minTime: 5m
  maxTime: 30m
  maxItemsCount: 0
  prefetching: true
  prefetchExpires: 2h
  prefetchThreshold: 5
  prefetchMaxItemsCount: 0
  cacheTimeNegative: 30m

prometheus:
  enable: true
  path: /metrics

minTlsServeVersion: 1.3

certFile: /etc/letsencrypt/certificates/dns.sawyer.services.crt
keyFile: /etc/letsencrypt/certificates/dns.sawyer.services.key

# optional: use these DNS servers to resolve denylist urls and upstream DNS servers. It is useful if no system DNS resolver is configured, and/or to encrypt the bootstrap queries.
bootstrapDns:
  - tcp+udp:1.1.1.1
  - https://1.1.1.1/dns-query
  - upstream: https://dns.digitale-gesellschaft.ch/dns-query
    ips:
      - 185.95.218.42

fqdnOnly:
  enable: true

ports:
  tls: 853
  https: 443
  dohPath: /dns-query

log:
  level: info
  format: text
  timestamp: true
  privacy: false

ede:
  enable: true

dnssec:
  validate: true
  maxChainDepth: 10
  cacheExpirationHours: 1
  maxUpstreamQueries: 30
  maxNSEC3Iterations: 150
  clockSkewToleranceSec: 3600
